In [1]:
import pandas as pd
import numpy as np

In [137]:
data = pd.read_csv("./-saint exupery, est lyonnais , france-air-quality.csv",sep=",",header=0)
data.head(3)

        date  pm25  pm10   o3  no2
0  2020/12/1    76     9    9    5
1  2020/12/2    38    12   18    6
2  2020/12/3    44     4   19    4

In [138]:
data["region"]="rhone"

In [134]:
data=data.drop([' so2'], axis=1)

In [139]:
data.head(3)

        date  pm25  pm10   o3  no2 region
0  2020/12/1    76     9    9    5  rhone
1  2020/12/2    38    12   18    6  rhone
2  2020/12/3    44     4   19    4  rhone

In [140]:
data.to_csv('./rhone.csv', index=False)