In [1]:
import pandas as pd
import numpy as np

In [132]:
data = pd.read_csv("./marseille-5 avenues, paca, france-air-quality.csv",sep=",",header=0)
data.head(3)

        date  pm25  pm10   o3  no2  so2
0  2020/12/1    53     8   15    8
1  2020/12/2    21    13   17   12
2  2020/12/3    32    14   27    8

In [133]:
data["region"]="paca"

In [134]:
data=data.drop([' so2'], axis=1)

In [135]:
data.head(3)

        date  pm25  pm10   o3  no2 region
0  2020/12/1    53     8   15    8   paca
1  2020/12/2    21    13   17   12   paca
2  2020/12/3    32    14   27    8   paca

In [131]:
data.to_csv('./paris-nord.csv', index=False)