In [17]:
import pandas as pd
import numpy as np

from glob import glob

In [21]:
stockfiles = glob('./*.csv')
stockfiles

['./alpes-cote-dazur-est.csv',
 './paris-nord.csv',
 './victor-hugo, nantes, loire, france-air-quality.csv',
 './paca.csv',
 './normandie-est.csv',
 './hauts-de-france.csv',
 './grand-est.csv',
 './vitry-sur-seine,-paris-air-quality.csv',
 './centre-val-de-loire.csv',
 './alpes-cote-dazur.csv',
 './auvergne-rhone-alpes.csv',
 './normandie.csv',
 './corse.csv',
 './bourgogne.csv',
 './rhone.csv',
 './occitanie.csv',
 './bretagne.csv',
 './occitanie_sud.csv',
 './nouvelle-aquittaine.csv']

In [24]:
result_file = pd.concat((pd.read_csv(file).assign(filename = file) for file in stockfiles), ignore_index=True,sort=False)
result_file.to_csv('./resultat_final.csv', index=False)

In [11]:
data = pd.read_csv("./occitanie2.csv",sep=",",header=0)
data.head(3)

        date  pm25  pm10   o3  no2     region
0  2020/12/1    60    15   19    6  occitanie
1  2020/12/2    39    12   26   11  occitanie
2  2020/12/3    26     6   24    9  occitanie

In [13]:
data["region"]="occitanie2"
data.head(3)

        date  pm25  pm10   o3  no2      region
0  2020/12/1    60    15   19    6  occitanie2
1  2020/12/2    39    12   26   11  occitanie2
2  2020/12/3    26     6   24    9  occitanie2

In [134]:
data=data.drop([' so2'], axis=1)

In [139]:
data.head(3)

        date  pm25  pm10   o3  no2 region
0  2020/12/1    76     9    9    5  rhone
1  2020/12/2    38    12   18    6  rhone
2  2020/12/3    44     4   19    4  rhone

In [14]:
data.to_csv('./occitanie_sud.csv', index=False)